<div clas="panel-body">
  <h1 align="center"> Welcome to Support Hero </h1>
  <h4 align="center"> Today's Date: <%= Date.today %> </h4>
  <br>
  <% if !@shifts.empty? %>
    <h3>Today's Scheduled Support Hero:</h3>
    <h4><pre><%= todays_hero %></pre></h4>
</div>

<table class="table table-striped table-bordered">
<caption class="text-center">Support Hero Schedule</caption>
  <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Hero</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td class="text-center"><%= shift.date %></td>
        <td class="text-center"><%= shift.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4 align="center"> There Are Currently No Scheduled Shifts </h4>
<% end %>
