<div clas="panel-body">
  <h3 align="center"> Welcome <%= current_user.name %> </h1>
  <h4 align="center"> Today's Date: <%= Date.today %> </h4>
  <br>
</div>

<table class="table table-striped table-bordered">
<caption class="text-center">Your Upcoming Shifts</caption>
  <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Mark Unavailable</th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td class="text-center"><%= shift.date %></td>
        <td class="text-center"><%= link_to("Mark Unavailable", root_path, class: "btn-sm btn-danger")  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
